{
    "path": ".",
    "rules": {
        "assets": {
            "meshes/chunks.w4a": {
                "models": {
                    "chunks.fbx": null
                }
            },
            "meshes/monkey.w4a": {
                "models": {
                    "monkey.fbx": null
                }
            },
            "skybox.w4a": {
                "images": [
                    "textures/env/field/nx.png",
                    "textures/env/field/ny.png",
                    "textures/env/field/nz.png",
                    "textures/env/field/px.png",
                    "textures/env/field/py.png",
                    "textures/env/field/pz.png"
                ]
            }
        },
        "pass": [
            "meshes/chunks.blend",
            "meshes/chunks.blend1"
        ],
        "skip": [
            "AssetCreator.config"
        ]
    },
    "version": "0.2"
}